.carousel
    position: relative
    display: flex
    flex-flow: row nowrap
    height: min-content
    overflow: hidden
    &__wagon
        display: block
        flex: 0 0 100%

@keyframes moveX
    from
        transform: translateX(100%)
    to
        transform: translateX(0%)
