
.carousel
    position: relative
    display: block
    height: min-content
    *
        outline: 1px solid red
    &__platform
        display: flex
        flex-flow: row nowrap
        position: relative
        overflow: hidden
        flex-flow: row nowrap

        &__item
            flex: 1 0 100%
            transform: translateX(0)
            transition: transform .2s ease

            &[datafocus = "0"]
                transform: translateX(-100%)
            &[datafocus = "1"]
                transform: translateX(0%)
            &[datafocus = "2"]
                transform: translateX(100%)
                // background: red
