.accordion //collapsible container
    list-style: none
    position: relative
    overflow: hidden
    .trigger
        cursor: pointer
    .content
        transition-property: padding-top, padding-bottom, height
        transition-duration: .25s
        transition-timing-function: ease-in-out
        transform-origin: top
        padding-left: 3.25em
        &.collapse
            height: 0
