@use './variables' as var

// Font sizes
.title
    font-size: 1.6rem
    font-weight: 400
    &.size-large
        font-size: 3.42rem
    &.size-normal
        font-size: 1.4rem
        line-height: normal
    &.bold
        font-weight: bold
    &.black
        font-weight: 900
    &.medium
        font-weight: 500
    &.semibold
        font-weight: 600
    &.light
        font-weight: 300
.subject
    font-size: 1.6rem
    font-weight: 400
    &.bold
        font-weight: bold
    &.black
        font-weight: 900
    &.medium
        font-weight: 500
    &.semibold
        font-weight: 600
    &.light
        font-weight: 300
.tiny
    font-size: .85rem

.bold
    font-weight: bold
.black
    font-weight: 900
.medium
    font-weight: 500
.semibold
    font-weight: 600
.light
    font-weight: 300

// margin and padding clear

// Text Properties
.t-center
    text-align: center
.t-left
    text-align: left
.t-right
    text-align: right
.t-cap
    text-transform: capitalize
.t-lower
    text-transform: lowercase
.t-upper
    text-transform: uppercase

// .top-page
//     // background: pink
//     height: 100vh
//     position: relative

.place-center
    place-items: center

.section
    // background: pink
    display: block
    padding: 3.125em 0
    position: relative

.thumbnail-card
    position: relative
    isolation: isolate
    overflow: hidden
    border-radius: calc(var.$pad / 2)
    aspect-ratio: 1/1.2
    $__color: #fff

    &__content-wrap
        padding: var.$pad
        width: inherit
        // padding-top: 100%
        color: $__color
        position: absolute
        bottom: 0

        .content
            display: flex
            flex-flow: column
            gap: calc(var.$pad / 3)
            word-break: break-all

    // &:hover
    //     .meta-data
    //         &::before

    //         .meta-data-content

    .background
        position: absolute
        top: 0
        height: 100%
        width: 100%
        background: #252627
        color: var(--__text-color)
        z-index: -1
        line-height: 0

    // &.square

.shadow-lower-dark
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%)

@media screen and (min-width: 768px)
    // Font sizes
    .title
        font-size: 2rem

    .section
        padding: 5.5em 0
