:root
    --root-default: #161717
    --root-background: #ffffff
    --default: #161717
    --shadedMid: #eaeaea
    --shadedLow: #FAFAFA
    --background: #ffffff
    --muted: #696969

[data-theme="dark"]
    --default: #eeeeee
    --shadedMid: #242424
    --shadedLow: #161616
    --background: #070707
    --muted: #bebebe
