@use './mixins' as mxn
@use './variables' as v

.profile_card
    position: relative
    width: 100%
    height: 100%
    cursor: pointer

    .cover_wrap
        position: relative
        padding-top: 68%

    .title
        transition: color .3s ease
    &:hover
        .title
            transition: color .1s ease
            color: v.$theme

.social_media_links
    list-style: none
    display: flex
    li:not(:last-child)
        margin-right: .5em


.categories
    list-style: none
    display: flex
    gap: 1.5em

    .category
        text-transform: uppercase
        font-weight: 500
        opacity: .5
        cursor: pointer
        &.active
            opacity: 1

.dlcv_button
    display: block
    width: 100%

.about_hero_wrap
    display: none


@include mxn.screen(phone, landscape)
    

@include mxn.screen(ipad)
    .dlcv_button
        display: inline-block
        width: unset

    .about_hero_wrap
        position: relative
        bottom: 0
        display: block
        width: 100%
        height: 575px
        // &::after
        //     content: ''
        //     position: absolute
        //     width: 100%
        //     height: 45%
        //     left: 0
        //     bottom: 0
        //     background: linear-gradient(0deg, v.$bg 30%, transparent 90%)
        //     transform: translate(-64px, -64px)
        div
            overflow: unset!important
        .about_hero
            transform: translate(-64px, -64px)

    .intro
        padding-right: 3em
